@import '../App/vars.css';

.social-links {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    
    &__item {
        margin-left: var(--md); 
    }
}